@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}


/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

body {
	background: #ffffff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Type */

body, input, select, textarea {
	color: #585858;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.75;
}

@media screen and (max-width: 1680px) {

	body, input, select, textarea {
		font-size: 14pt;
	}

}

@media screen and (max-width: 1280px) {

	body, input, select, textarea {
		font-size: 12pt;
	}

}

a {
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
	color: #585858;
	border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

a:hover {
	border-bottom-color: transparent;
	color: #f2849e !important;
}

strong, b {
	font-weight: 900;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1 {
	font-size: 2.75em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 1em 0;
	letter-spacing: -0.035em;
}

h1 a {
	color: inherit;
}

@media screen and (max-width: 736px) {

	h1 {
		font-size: 2em;
		margin: 0 0 1em 0;
	}

}

@media screen and (max-width: 360px) {

	h1 {
		font-size: 1.75em;
	}

}

h2, h3, h4, h5, h6 {
	font-weight: 900;
	line-height: 1.5;
	margin: 0 0 2em 0;
	text-transform: uppercase;
	letter-spacing: 0.35em;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h2 {
	font-size: 1.1em;
}

h2.tname {
	text-align: center;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 0.8em;
}

h5 {
	font-size: 0.8em;
}

h6 {
	font-size: 0.8em;
}

@media screen and (max-width: 980px) {

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

}

@media screen and (max-width: 736px) {

	h2 {
		font-size: 1em;
	}

	h3 {
		font-size: 0.8em;
	}

}

<<<<<<< HEAD
	hr {
		border: 0;
		border-bottom: solid 1px #c9c9c9;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

=======
.inner header h1 {
	padding-top: 2em;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 120%;
    position: fixed;
    z-index: 3;
}

.nav ul li {
    float: left;
}

.nav ul li a {
	font-size: 1.3em;
    display: block;
    color: white;
    text-align: center;
    padding: .4em 1em;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: #111;
}

@media screen and (max-width: 700px){
	.nav.responsive
}
>>>>>>> 5758f2b136f9e33365080ff4678f02e93b9b178e


.tiles {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	margin: -2.5em 0 0 -2.5em;
}

.tiles li {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	position: relative;
	width: calc(33.33333% - 2.5em);
	margin: 2.5em 0 0 2.5em;
}

.tiles li > .image {

	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: relative;
	display: block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}
.tiles li > .image img {
	display: block;
	width: 100%;
}

.tiles li > .image:before {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	opacity: 0.8;
}


.tiles li > .image:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.25;
	z-index: 2;
}

.tiles li > a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
	transition: background-color 0.5s ease, transform 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 4px;
	border-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	z-index: 3;
}

.tiles li > a > :last-child {
	margin: 0;
}

.tiles li > a:hover {
	color: #ffffff !important;
}

.tiles li > a h2 {
	margin: 0;
}

.tiles li > a .content {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
}

.tiles li > a .content > :last-child {
	margin-bottom: 0;
}

.tiles li h3, p {
	text-align: center;
}

.tiles li.style1 > .image:before {
	background-color: #f2849e;
	opacity: 0.7;
}

.tiles li.style2 > .image:before {
	background-color: #7ecaf6;
	opacity: 0.5;
}

.tiles li.style3 > .image:before {
	background-color: #7bd0c1;
	opacity: 0.5;
}

.tiles li.style4 > .image:before {
	background-color: #c75b9b;
	opacity: 0.5;
}

.tiles li.style5 > .image:before {
	background-color: #ae85ca;
	opacity: 0.5;
}

.tiles li.style6 > .image:before {
	background-color: #8499e7;
	opacity: 0.5;
}

body:not(.is-touch) .tiles li:hover > .image {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

body:not(.is-touch) .tiles li:hover > .image:before {
	background-color: #333333;
	opacity: 0.35;
}

body:not(.is-touch) .tiles li:hover > .image:after {
	opacity: 0;
}

body:not(.is-touch) .tiles li:hover .content {
	max-height: 15em;
	opacity: 1;
}

* + .tiles {
	margin-top: 2em;
}

body.is-loading .tiles li {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

body.is-touch .tiles li .content {
	max-height: 15em;
	opacity: 1;
}

/* Image */

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main.map {
	display: block;
	margin: auto;
    width: 50%;
    border: 3px solid #c9c9c9;
    padding: 10px;
}

.image.main img {
	width: 100%;
}

@media screen and (max-width: 736px) {

	.image.main {
		margin: 0 0 2em 0;
	}

}




/* Wrapper */

#wrapper > * > .inner {
	width: 100%;
	max-width: 68em;
	margin: 0 auto;
	padding: 0 2.5em;
}

@media screen and (max-width: 736px) {

	#wrapper > * > .inner {
		padding: 0 1.25em;
	}

}


/* Input */

input[type="text"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: solid 1px #c9c9c9;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
	border-bottom-color: #f2849e;
	box-shadow: inset 0 -1px 0 0 #f2849e;
}

input[type="text"],
select {
	height: 3em;
}

